.usermenu__wrapper {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.usermenu__wrapper a:focus,
.usermenu__wrapper a:hover {
  color: black;
}
.usermenu__label {
  padding: 5px 0 5px 5px;
  margin: 5px;
  display: inline;
  position: relative;
}
.usermenu__logo {
  padding: 5px 5px 5px 0;
  margin: 5px;
  color: grey;
}
.usermenu__content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 250px;
  left: -125%;
  border: solid lightgray 5px;
  padding: 5px;
  margin-top: 9px;
}

.usermenu__content:after,
.usermenu__content:before {
  bottom: 100%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.usermenu__content:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: lightgray;
  border-width: 13px;
  margin-left: -13px;
}
.usermenu__content:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2e1f5;
  border-width: 13px;
  margin-left: -13px;
}

.usermenu__wrapper:hover .usermenu__content {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.usermenu__container1 {
  align-items: center;
  justify-content: start;
  border-bottom: lightgrey 2px solid;
  padding: 10px;
  display: flex;
}
.usermenu__container1 > img {
  display: inline-block;
}
.usermenu__container1_label {
  display: inline-block;
  color: #215ca0;
  padding-left: 10px;
}
.usermenu__container2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.usermenu_container2_main {
  padding: 10px;
  display: flex;
}
.usermenu__container2_title {
  color: #215ca0;
  padding: 5px;
}
.usermenu__container2_sub {
  color: grey;
  font-size: 0.7em;
  padding: 5px;
}
.usermenu__container2_font {
  width: 15px;
  height: 15px;
  color: gray;
  margin: auto;
  font-size: 26px;
}
.usermenu_container2_slidein {
  display: none;
}
.usermenu_a:hover,
.usermenu__container2_title:focus,
.usermenu__container1_label:focus {
  color: black;
}
#displayAdditional {
  display: flex;
  flex-direction: column;
}
#usermenu__content_display {
  display: flex;
  flex-direction: column;
  align-content: center;
}
