body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  min-width: 320px;
  overflow: hidden;
}
#app-wrapper {
  width: 100%;
  height: 100%;
}

header {
  height: 85px;
}

#container {
  min-height: 100%;
  min-width: 1200px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background-color: #f2f2f2;
  color: #333;
  border-top: 2px solid lightslategrey;
  order: 3;
  text-align: center;
  line-height: 2;
}
