.contactmenu__wrapper {
  position: relative;
}
.contactmenu__wrapper a:hover, .contactmenu__wrapper a:focus {
  color:black;
} 
.contactmenu__header {
  position: relative;
  margin: 10px 0;
}
.contactmenu__content {
  display: none;
  position: absolute;
  border: solid lightgrey 5px;
  left: -100px;
  padding: 5px;
  background: #ffffff;
  margin: 0 5px 5px;
  padding-top: 10px;
  z-index: 1;
}

.contactmenu__content:after,
.arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.contactmenu__content:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: lightgray;
  border-width: 13px;
  margin-left: -13px;
}
.contactmenu__content:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2e1f5;
  border-width: 13px;
  margin-left: -13px;
}

.contactmenu__wrapper:hover .contactmenu__content {
  display: flex;
  flex-direction: column;
}
.contactmenu__wrapper:hover #contactmenu__header , #contactmenu__header:focus  {
 color: black;
}
.contactmenu__content a {
  border: 0;
  padding: 0;
  display: inline;
}
.contactmenu__content div {
  padding: 5px;
  margin: 5px;
  min-width: 225px;
}
.font {
  margin: 0 5px;
}
#contactmenu__display {
  display: flex;
  flex-direction: column;
}
