#header-section {
  display: flex;
  flex: 1;
  flex-shrink: 0;
  border-bottom: 3px solid #2a9fd8;

}
#title-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}
.logo {
  height: 43px;
  width: 61px;
  position: static;
}
#activity-section {
  flex: 5;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 25px;
}

#nav-bar {
  flex: 1;
  padding-left: 10px;
  flex-shrink: 0;

}
