/* NavBar CSS */

/*
  white: white;
  blue: #215ca0;
  grey: lightgrey;
*/
nav {
  position: absolute;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #215ca0;
  text-align: left;
  padding: 16px;
  text-decoration: none;
}

nav > ul {
  display: flex;
}
.menu:hover,
.menu:focus {
  border-top: #215ca0 2px solid;
  background-color: #f4f4f4;
}
.menu > ul {
  display: none;
  position: absolute;
  min-width: 100px;
  background-color: white;
}

.menu:hover > .megamenu {
  display: flex;
}
.sub-menu:hover > .template {
  display: block;
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  width: 750px;
  height: 475px;
}

.sub-menu {
  display: flex;
}
.sub-menu:hover,
.sub-menu:focus {
  background-color: #f4f4f4;
}
.sub-menu > a {
  width: 125px;
  word-wrap: break-word;
}
.template {
  display: none;
}

.additional {
  background-color: #f4f4f4;
}
.menu-expand {
  float: right;
  padding-left: 2px;
}

#display-flex {
  display: flex;
}

#template-content {
  display: block;
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  width: 750px;
  height: 475px;
}
