.template_main {
  flex-direction: column;
  background-color: #f4f4f4;
  align-content: space-around;
}
.template_header {
  flex: 1 0 0;
  background-color: green;
  text-align: center;
  padding: 15px;
}
.template_content {
  flex: 1 0 0;
}
.template_list {
  display: flex;
  flex-wrap: wrap;
}
.template_list > li {
  width: 40%;
  padding: 10px;
}
