.gs_menu_wrapper {
  position: relative;
  padding: 10px 0;
}
.gs_menu_wrapper a {
  padding: 0;
}
.gs_menu_label {
  position: relative;
}
.gs_menu__content {
  display: none;
  position: absolute;
  border: solid lightgrey 5px;
  left: -740px;
  padding: 5px;
  background: #ffffff;
  z-index: 1;
  display: none;
  width: 750px;
  min-height: 250px;
  padding: 10px;
  margin-top: 10px;
}
.gs_menu__content:after,
.gs_menu__content:before {
  bottom: 100%;
  left: 97.7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.gs_menu__content:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: lightgray;
  border-width: 13px;
  margin-left: -13px;
}
.gs_menu__content:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2e1f5;
  border-width: 13px;
  margin-left: -13px;
}
.gs_menu_wrapper:hover .gs_menu__content {
  display: block;
}
.gs_menu__content a:hover,
.gs_menu__content a:focus {
  color: black;
}
.gs_menu_ua-icon {
  padding: 5px;
  margin: 5px;
  color: gray;
  display: inline;
}

.gs_menu_globalist {
  display: flex;
  flex-wrap: wrap;
}
.gs_menu_region {
  color: black;
}
.gs_menu_country {
  margin: 10px;
  padding: 5px 0;
}
.gs_menu_region {
  margin: 10px;
  display: inline;
}
#gs_content_display {
  display: block;
}
#gs_menu_heading:hover,
#gs_menu_heading:focus {
  color: black;
}
